/* Set the height of the map container */

.custom-map-container{
    width: 500px;
    height: 400px;
    border-radius: 16px;
    z-index: 0;
    overflow: hidden;
}


/* Hide the Leaflet attribution control */
.leaflet-control-attribution {
    display: none;
}

